.catalog {
    padding: 0 10rem;
    display: flex;
    gap: 6rem;
}

.catalogItems {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
}

.pageLinks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.pageLink {
    display: flex;
    padding: 12px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #F7F7F7;
    color: #000;
    text-decoration: none;
}

.activePage {
    color: #F7F7F7;
    background-color: #000;
}


@media only screen and (max-width: 480px) {
    .catalog {
        padding: 0 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    .pageLinks {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .catalog {
        padding: 0 3rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    .pageLinks {
        flex-wrap: wrap;
    }
}
